h1{
    background-color: aquamarine;
    padding:20px 30px 20px 80px ;
    margin:20px 30px 200px 20px ;
}
.box1{
    width:700px ;
    height:60px ;
    border:5px solid black ;
    color: black;
}
.box2{
    width:700px ;
    height:50px ;
    border:5px solid black ;
    color: rgb(105, 17, 17);
}
.box3{
    width:700px ;
    height: 300px;
    border:5px solid black ;
    color: black;
}
.box4{
    width: 700px;
    height:50px ;
    border:5px solid black;
    color: black;
}